
@font-face{
    font-family: MyriadPro;
	src: url(../fonts/MyriadPro-Light.otf) format("opentype")}

.tablepress nac, .tablepress wc {
	width: 100%;
	font-size: 90%;
	font-family: MyriadPro;
}

.tablepress.gr {
	width: 100%;
	font-size: 80%;
	font-family: MyriadPro;
}

.tablepress.gr tbody td.column-3 {
	border-right: 1.5px solid black;
	font-family: MyriadPro;
}

.tablepress .sorting:hover {
	background-color: #B40404;
	font-family: MyriadPro;
}

.tablepress thead th {
	background-color: #B40404;
	color: #ffffff;
	width: auto;
	margin: 0 auto 1em;
	border-bottom: 2px solid black;
	font-family: MyriadPro;
	font-size: 10pt;
}

.tablepress .sorting_desc {
	background-color: #B40404;
	font-family: MyriadPro;
}

.tablepress .sorting_asc {
	background-color: #B40404;
	font-family: MyriadPro;
}

.tablepress.match thead th {
	font-size: 70%;
	height: 80%;
	font-family: MyriadPro;
}

.tablepress.nac tbody td.column-2, .tablepress.gr tbody td.column-2, .tablepress.wc tbody td.column-2 {
	font-weight: bold;
	color: black;
	font-family: MyriadPro;
}

.tablepress .odd td {
	background-color: #ffffff;
	font-family: MyriadPro;
}

.tablepress .even td {
	background-color: #ffffff;
	font-family: MyriadPro;
}

.tablepress.nac tbody td.column-2, .tablepress.wc tbody td.column-2 {
	border-right: 2px solid black;
	font-family: MyriadPro;
}

.tablepress tbody td.row {
	border-bottom: 1px solid;
	border-bottom-color: #CDCDCD;
	font-family: MyriadPro;
}

.mks_tabs_nav {
	width: 100%;
	font-family: MyriadPro;
}

.mks_tab_item {
	background-color: #ffffff;
	text-align: center;
	width: 100%;
	color: black;
	border: none;
	font-family: MyriadPro;
}

.mks_toggle {
	border: none;
	font-family: MyriadPro;
}

.mks_toggle_heading {
	color: #ffffff;
	width: 30%;
	background-color: #B40404;
	border-radius: 10px 10px 0 0;
	left: 35%;
	border-bottom: 1px solid black;
	font-family: MyriadPro;
}

.mks_tabs.horizontal {
	font-family: MyriadPro;
	border: none;
}

.tabla-home .mks_tab_nav_item.active {
	background: #8a827e;
	border: none;
	font-family: MyriadPro;
}

.tabla-home .mks_tab_nav_item {
	color: white;
	background: #B40404;
	text-align: center;
	font-family: MyriadPro;
}

/*.tabla-home .mks_tab_nav_item:last-of-type {
	color: white;
	background: #BDBDBD;
	text-align: center;
}*/

.mks_tab_nav_item:hover {
	background: #8a827e;
	font-family: MyriadPro;
}

.mks_accordion_item:hover {
	color: #B40404;
	border: none;
	font-family: MyriadPro;
}

.tablepress-table-description {
	clear: both;
	display: block;
	font-family: MyriadPro;
}

.tablepress {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	margin-bottom: 1em;
	border: none;
	font-family: MyriadPro;
}

.tablepress td, .tablepress th {
	padding: 8px;
	border: none;
	background: 0 0;
	text-align: left;
	font-family: MyriadPro;
	float: none!important
}

.tablepress tbody td {
	vertical-align: top
	font-family: MyriadPro;
}

.tablepress tbody td, .tablepress tfoot th {
	font-family: MyriadPro;
	border-top: 1px solid #ddd
}

.tablepress tbody tr:first-child td {
	font-family: MyriadPro;
	border-top: 0
}

.tablepress thead th {
	font-family: MyriadPro;
	border-bottom: 1px solid #ddd
}

.tablepress tfoot th, .tablepress thead th {
	background-color: #d9edf7;
	font-weight: 700;
	font-family: MyriadPro;
	vertical-align: middle
}

.tablepress .odd td {
	font-family: MyriadPro;
	background-color: #f9f9f9
}

.tablepress .even td {
	font-family: MyriadPro;
	background-color: #fff
}

.tablepress .row-hover tr:hover td {
	font-family: MyriadPro;
	background-color: #f3f3f3
}

.tablepress img {
	font-family: MyriadPro;
	margin: 0;
	padding: 0;
	border: none;
	max-width: none
}

.dataTables_wrapper {
	font-family: MyriadPro;
	clear: both;
	margin-bottom: 1em
}

.dataTables_wrapper .tablepress {
	font-family: MyriadPro;
	clear: both;
	margin: 0!important
}

.dataTables_length {
	font-family: MyriadPro;
	float: left;
	white-space: nowrap
}

.dataTables_filter {
	font-family: MyriadPro;
	float: right;
	white-space: nowrap
}

.dataTables_wrapper .dataTables_filter input {
	font-family: MyriadPro;
	margin-left: .5em
}

.dataTables_info {
	font-family: MyriadPro;
	clear: both;
	float: left;
	margin: 4px 0 0
}

.dataTables_paginate {
	font-family: MyriadPro;
	float: right;
	margin: 4px 0 0
}

.dataTables_paginate a {
	font-family: MyriadPro;
	color: #111!important;
	display: inline-block;
	outline: 0;
	position: relative;
	text-decoration: underline;
	margin: 0 5px
}

.dataTables_paginate a:first-child {
	font-family: MyriadPro;
	margin-left: 0
}

.dataTables_paginate a:last-child {
	font-family: MyriadPro;
	margin-right: 0
}

.paginate_button:hover {
	font-family: MyriadPro;
	cursor: pointer;
	text-decoration: none
}

.paginate_button.disabled {
	color: #999!important;
	text-decoration: none;
	cursor: default
}

.paginate_button.current {
	font-family: MyriadPro;
	font-weight: 700;
	text-decoration: none;
	cursor: default
}

.dataTables_paginate.paging_simple {
	font-family: MyriadPro;
	padding: 0 15px
}

.paging_simple .paginate_button.next:after, .paging_simple .paginate_button.previous:before {
	text-align: left;
	font-family: MyriadPro;
	font-size: 14px;
	font-weight: 700;
	-webkit-font-smoothing: antialiased;
	content: "\f053";
	text-shadow: .1em .1em #666;
	position: absolute;
	top: 0;
	right: auto;
	bottom: 0;
	left: -14px;
	margin: auto;
	height: 14px;
	width: 14px;
	line-height: 1
}

.paging_simple .paginate_button.next:after {
	text-align: right;
	font-family: MyriadPro;
	content: "\f054";
	left: auto
}

.paginate_button:after, .paginate_button:before {
	font-family: MyriadPro;
	color: #d9edf7

}

.paginate_button:hover:after, .paginate_button:hover:before {
	font-family: MyriadPro;
	color: #049cdb
}

.paginate_button.disabled:after, .paginate_button.disabled:before {
	color: #f9f9f9
}

.dataTables_processing {
	font-family: MyriadPro;
	display: none
}

.dataTables_scroll {
	clear: both
}

.dataTables_scrollBody {
	-webkit-overflow-scrolling: touch
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody td>div.dataTables_sizing, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody th>div.dataTables_sizing {
	height: 0;
	font-family: MyriadPro;
	overflow: hidden;
	margin: 0!important;
	padding: 0!important
}

.tablepress .sorting, .tablepress .sorting_asc, .tablepress .sorting_desc {
	position: relative;
	font-family: MyriadPro;
	padding-right: 20px;
	cursor: pointer;
	outline: 0
}

.tablepress .sorting:after, .tablepress .sorting_asc:after, .tablepress .sorting_desc:after {
	font-family: MyriadPro;
	font-weight: 400;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	top: 0;
	bottom: 0;
	left: auto;
	right: 6px;
	margin: auto;
	height: 14px;
	line-height: 1
}

.tablepress .sorting:after {
	content: "\f0dc"
}

.tablepress .sorting_asc:after {
	content: "\f0d8";
	padding: 0 0 2px
}

.tablepress .sorting_desc:after {
	content: "\f0d7"
}

.tablepress .sorting:hover, .tablepress .sorting_asc, .tablepress .sorting_desc {
	background-color: #049cdb
}

.dataTables_scrollBody .tablepress thead th:after {
	content: ""
}

.dataTables_wrapper:after {
	font-family: MyriadPro;
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0
}

.dataTables_wrapper label input, .dataTables_wrapper label select {
	display: inline;
	font-family: MyriadPro;
	margin: 2px;
	width: auto;
}

.tablepress nac, .tablepress wc {
	width: 100%;
	font-family: MyriadPro;
	font-size: 90%
}

.tablepress.gr {
	width: 100%;
	font-family: MyriadPro;
	font-size: 80%
}

.tablepress.gr tbody td.column-3 {
	border-right: 1.5px solid #000
}

.tablepress .sorting:hover {
	background-color: #B40404
}

.tablepress thead th {
	background-color: #B40404;
	color: #fff;
	width: auto;
	margin: 0 auto 1em;
	border-bottom: 2px solid #000
}

.tablepress .sorting_desc {
	background-color: #B40404
}

.tablepress .sorting_asc {
	background-color: #B40404
}

.tablepress.match thead th {
	font-size: 70%;
	font-family: MyriadPro;
	height: 80%
}

.tablepress.nac tbody td.column-2, .tablepress.gr tbody td.column-2, .tablepress.wc tbody td.column-2 {
	font-weight: 700;
	font-family: MyriadPro;
	color: #000
}

.tablepress .odd td {
	background-color: #fff
}

.tablepress .even td {
	background-color: #fff
}

.tablepress.nac tbody td.column-2, .tablepress.wc tbody td.column-2 {
	border-right: 2px solid #000
}

.tablepress tbody td.row {
	border-bottom: 1px solid;
	border-bottom-color: #CDCDCD
}

.mks_tabs_nav {
	width: 100%
}

.mks_tab_item {
	background-color: #fff;
	text-align: center;
	font-family: MyriadPro;
	width: 100%;
	color: #000;
	border: none
}

.mks_toggle {
	font-family: MyriadPro;
	border: none
}

.mks_toggle_heading {
	font-family: MyriadPro;
	color: #fff;
	width: 30%;
	background-color: #B40404;
	border-radius: 10px 10px 0 0;
	left: 35%;
	border-bottom: 1px solid #000
}

.mks_tabs.horizontal {
	font-family: MyriadPro;
	border: none
}

.tabla-home .mks_tab_nav_item.active {
	background: #8a827e;
	font-family: MyriadPro;
	border: none
}

.tabla-home .mks_tab_nav_item {
	color: #fff;
	font-family: MyriadPro;
	background: #B40404;
	text-align: center
}

.mks_tab_nav_item:hover {
	font-family: MyriadPro;
	background: #8a827e
}

.mks_accordion_item:hover {
	color: #B40404;
	font-family: MyriadPro;
	border: none
}
